@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pos: #e24b4a;
  --neg: #185fa5;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
